<div class="home">
  <h3>home-page works!</h3>
  <img
    src="https://m.media-amazon.com/images/M/MV5BODFmYTUwYzMtM2M2My00NGExLWIzMDctYmRjNTNhZDc4MGI2XkEyXkFqcGdeQXVyMTMzNDExODE5._V1_.jpg"
    alt="bleach1">
  <img
    src="https://sportshub.cbsistatic.com/i/2021/12/18/4a3fdbcc-7ea5-4ca8-b2ac-946e1e893dba/bleach-anime.png?auto=webp&width=822&height=1152&crop=0.714:1,smart"
    alt="bleach2">
  <img src="https://i.pinimg.com/736x/9c/46/1f/9c461f63dd87b47a425b07a33d59cea1.jpg" alt="bleach3">
</div>
