.header {
  height: 50px;

  background-color: cornflowerblue;
  border-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;

}

a {
  padding: 5px;

  border: 2px solid snow;
  border-radius: 5px;

  text-decoration: none;
  color: snow;
  font-family: cursive;
}

a:hover {
  background-color: darkturquoise;
  color: #ab32ab;
}

.active {
  color: gold;
}
