div{
  padding: 10px;
  width: 47%;

  position: fixed;
  right: 0;
  bottom: 45%;

  border: 3px solid #8fa5ef;
  border-radius: 12px;

  text-align: center;
  font-family: cursive;
  font-size: 18px;
  background-color: #bdde98;
}
