<form [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Model</mat-label>
    <input matInput type="text" formControlName="model">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Price</mat-label>
    <input matInput type="text" formControlName="price">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Year</mat-label>
    <input matInput type="text" formControlName="year">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="Create()">Create</button>
</form>

<div class="cars">
  <app-car *ngFor="let car of cars" [car]="car"></app-car>
</div>
